/Animals/build/
/Animals/nbproject/private/
/Animals_1/build/
/Animals_1/nbproject/private/
/Frame/build/
/Frame/nbproject/private/
/Frame2/build/
/Frame2/nbproject/private/
/LinkList/build/
/LinkList/nbproject/private/
/Shape/build/
/Shape/nbproject/private/
/text/build/
/text/nbproject/private/
/Guess/nbproject/private/
/Guess/build/
/Layout/nbproject/private/
/Layout/build/